module.exports = function(obj){
var __t,__p='',__j=Array.prototype.join,print=function(){__p+=__j.call(arguments,'');};
with(obj||{}){
__p+='<div class="teaser teaser-large teaser-fallback">\n    <div class="mediaObject mediaObject-wrapBelowTablet">\n        <div class="mediaObject__figure">\n            <img class="teaser__imageLarge" src="'+
((__t=(img ))==null?'':_.escape(__t))+
'" alt="" />\n        </div>\n        <div class="mediaObject__text">\n            <h2 class="heading2">Create a group to share your hobby</h2>\n            <p>Bring together members who share your interests.</p>\n            <a class="btn btn-inline" href="'+
((__t=( link.button ))==null?'':_.escape(__t))+
'">Get involved!</a>\n        </div>\n    </div>\n</div>\n';
}
return __p;
};
