module.exports = function(obj){
var __t,__p='',__j=Array.prototype.join,print=function(){__p+=__j.call(arguments,'');};
with(obj||{}){
__p+='<div class="t-gdpr-banner js-gdpr-banner slideout slideout__gdpr u-animateSlideDown">\n    <button class="js-slideout-closeButton t-gdpr-closeButton slideout__closeButton">\n        <i class="icon icon-cross-midGrey"></i>\n    </button>\n    <div>\n        We use cookies to provide and improve our services. By using <b>this</b> site, you accept cookies. For more information and how to set cookies, please see our <a class="t-gdpr-privacy-policy" href="/privacy-policy">Privacy Policy</a>.\n    </div>\n</div>\n';
}
return __p;
};
