module.exports = function(obj){
var __t,__p='',__j=Array.prototype.join,print=function(){__p+=__j.call(arguments,'');};
with(obj||{}){
__p+='<div class="slideout u-animateSlideDown t-app-banner">\n    <button class="js-slideout-closeButton slideout__closeButton">\n        <i class="icon icon-cross-midGrey"></i>\n    </button>\n    <div class="mediaObject mediaObject-center">\n        <i class="mediaObject__figure icon icon-logoAlbatross icon-xxlarge"></i>\n        <div class="mediaObject__text">\n            <div class="u-textBold">InterNations</div>\n            <div class="metaInformation">Get the app for free</div>\n        </div>\n    </div>\n    <div class="slideout__action">\n        <a class="js-slideout-actionButton btn" href="http://play.google.com/store/apps/details?id=org.internations">Install</a>\n    </div>\n</div>\n';
}
return __p;
};
