module.exports = function(obj){
var __t,__p='',__j=Array.prototype.join,print=function(){__p+=__j.call(arguments,'');};
with(obj||{}){
__p+='<div class="js-community-switch-modal communitySwitchModal">\n    <div class="u-textRight">\n        <button class="js-close-btn communitySwitchModal__closeBtn" type="button">\n            <i class="icon icon-crossRound-midGrey"></i>\n        </button>\n    </div>\n\n    <div class="headerFlyoutTitle">\n        <i class="icon icon-home u-quarterSpaceRight"></i>Your InterNations Community\n    </div>\n    <div class="js-home-community u-spaceTop u-spaceRight u-spaceBottom u-spaceLeft"></div>\n\n    <div class="headerFlyoutTitle">\n        <i class="icon icon-wifi u-quarterSpaceRight"></i>Communities close to where you live\n    </div>\n    <div class="js-community-selector u-halfSpaceTop"></div>\n</div>\n';
}
return __p;
};
