module.exports = function(obj){
var __t,__p='',__j=Array.prototype.join,print=function(){__p+=__j.call(arguments,'');};
with(obj||{}){
__p+='';
 if (twinkles.loading) { 
__p+='\n    <div class="headerFlyoutTitle headerFlyoutTitle-withCounter">\n        <div class="headerFlyoutTitle__wrap__icon">\n            <i class="icon icon-twinkle-darkBlue"></i>\n        </div>\n        <span class="headerFlyoutTitle__text">Twinkles</span>\n    </div>\n    <div class="headerFlyout__wrap__spinner">\n        <div class="spinner u-blockCenter"></div>\n    </div>\n';
 } else { 
__p+='\n    <div class="headerFlyoutTitle headerFlyoutTitle-withCounter">\n        <div class="headerFlyoutTitle__wrap__icon">\n            <i class="icon icon-twinkle-darkBlue"></i>\n        </div>\n        ';
 if (twinkles.total) { 
__p+='\n            <div class="js-count-header headerFlyoutTitle__wrap__counterBadge"></div>\n        ';
 } 
__p+='\n        <span class="headerFlyoutTitle__text">Twinkles</span>\n    </div>\n\n    ';
 if (!twinkles.total) { 
__p+='\n        <div class="headerFlyout__empty">You have no Twinkles.</div>\n    ';
 } else { 
__p+='\n        <ul class="js-twinkles-list headerFlyoutList"></ul>\n\n        <a class="headerFlyoutMore" href="'+
((__t=( link.allTwinkles ))==null?'':_.escape(__t))+
'">\n            <i class="icon icon-forward-midBlue"></i>\n            All Twinkles\n            ';
 if (twinkles.total) { 
__p+='\n                (<span class="js-count-results"></span> unseen)\n            ';
 } 
__p+='\n        </a>\n    ';
 } 
__p+='\n';
 } 
__p+='\n';
}
return __p;
};
