module.exports = function(obj){
var __t,__p='',__j=Array.prototype.join,print=function(){__p+=__j.call(arguments,'');};
with(obj||{}){
__p+='<div class="rowSlider">\n    <div class="u-hideBelowTablet-block">\n        <button class="js-button-prev rowSlider__button circularButton is-hidden" type="button">\n            <i class="circularButton__leftShiftIcon icon icon-arrowleft"></i>\n        </button>\n        <button class="js-button-next rowSlider__button circularButton is-hidden" type="button">\n            <i class="circularButton__rightShiftIcon icon icon-arrowleft"></i>\n        </button>\n    </div>\n\n    <div class="js-slider-content rowSlider__wrapper"></div>\n</div>\n';
}
return __p;
};
