module.exports = function(obj){
var __t,__p='',__j=Array.prototype.join,print=function(){__p+=__j.call(arguments,'');};
with(obj||{}){
__p+='<div class="teaser teaser-small teaser-fallback">\n    <div class="mediaObject mediaObject-center">\n        <div class="mediaObject__figure">\n            <img class="teaser__image" src="'+
((__t=( img ))==null?'':_.escape(__t))+
'" alt="" />\n        </div>\n        <div class="mediaObject__text">\n            <h3>Get involved in '+
((__t=( community.name ))==null?'':_.escape(__t))+
'!</h3>\n            <a href="'+
((__t=( link.getInvolved ))==null?'':_.escape(__t))+
'">Organize an event in your community.</a>\n        </div>\n    </div>\n</div>\n';
}
return __p;
};
