module.exports = function(obj){
var __t,__p='',__j=Array.prototype.join,print=function(){__p+=__j.call(arguments,'');};
with(obj||{}){
__p+='<a class="tabs__link" href="javascript:void(0);">'+
((__t=( tab.title ))==null?'':_.escape(__t))+
'</a>\n';
}
return __p;
};
