module.exports = function(obj){
var __t,__p='',__j=Array.prototype.join,print=function(){__p+=__j.call(arguments,'');};
with(obj||{}){
__p+='<ul class="js-tabs-nav tabs tabs-fullWidth"></ul>\n<div class="js-tabs-content whiteBox whiteBox-noBorder"></div>\n';
}
return __p;
};
